<script src="~/scripts.js"></script>
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            
        <form method="post" id="registration">
          <div class="form-row">
            <h4 id="regerror" style="color: crimson; text-align: center; font-weight: normal;"></h4>
          </div>
          <div class="form-row row">
              <label class="role-block d-block col-md-6">
                  <span style="margin-left: 30px;">Employer</span>
                  <input class="employerradio" name="user" value="employer" id="regemp" type="radio">
                  <span class="checkmark"></span>
              </label>
              <label class="role-block d-block col-md-6">
                  <span style="margin-left: 30px;">Student</span>
                  <input class="studentradio" name="user" value="student" id="regst" type="radio" checked>
                  <span class="checkmark"></span>
              </label>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="FirstName">First name</label>
              <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First name...">
            </div>
            <div class="form-group col-md-6">
              <label for="LastName">Last name</label>
              <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last name...">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Email">Email</label>
              <input type="email" class="form-control" id="Email" name="Email" placeholder="Email....">
            </div>
            <div class="form-group col-md-6">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" name="Password" placeholder="Password...">
            </div>
          </div>
          <div class="form-group companiesMenu">
            <select class="custom-select companies-select mr-sm-2" id="CompanyName">
              <option selected>Choose your company...</option>
            </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 30px;">Sign up</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
$('.companiesMenu').hide();
$.get(
   '/companies'
).done(function (data){
  for (let i = 0; i < data.length; i++){
    $('.companies-select').append('<option value="' + data[i].companyId + '">' + data[i].name + '</option>');
  }
});
    $('.studentradio').focus(function () {
        $('.companiesMenu').hide();
    });
    $('.employerradio').focus(function () {
        $('.companiesMenu').show();
    });
</script>